<div class="col-12 custom-bg" style="margin-top: 2em">
  <h1>Souls News</h1>
  <hr />

  <!-- <rssapp-wall id="_cdXsZO3x26UyOEI0"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script> -->
  <a
    class="twitter-timeline"
    data-theme="dark"
    href="https://twitter.com/fromsoftware_pr?ref_src=twsrc%5Etfw"
    >Tweets by fromsoftware_pr</a
  >
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
</div>
